@font-face{font-family:Slack-Lato;font-style:normal;font-weight:300;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-light.woff2) format('woff2'),url(https://a.slack-edge.com/495d/fonts/lato-1/lato-light.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:normal;font-weight:400;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-regular.woff2) format('woff2'),url(https://a.slack-edge.com/eb80/fonts/lato-1/lato-regular.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:normal;font-weight:700;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-bold.woff2) format('woff2'),url(https://a.slack-edge.com/eb80/fonts/lato-1/lato-bold.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:normal;font-weight:900;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-black.woff2) format('woff2'),url(https://a.slack-edge.com/eb80/fonts/lato-1/lato-black.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:300;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-italic-light.woff2) format('woff2'),url(https://a.slack-edge.com/495d/fonts/lato-1/lato-italic-light.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:400;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-italic.woff2) format('woff2'),url(https://a.slack-edge.com/eb80/fonts/lato-1/lato-italic.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:700;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-italic-bold.woff2) format('woff2'),url(https://a.slack-edge.com/eb80/fonts/lato-1/lato-italic-bold.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:900;src:url(https://a.slack-edge.com/9d38d/fonts/lato-1-compressed/lato-italic-black.woff2) format('woff2'),url(https://a.slack-edge.com/eb80/fonts/lato-1/lato-italic-black.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Icons;src:url(https://a.slack-edge.com/ecda/fonts/slack-icons-Regular.woff) format('woff');}

.guilds-wrapper .guild.guilds-add {
  border: 0px;
  background: transparent;
  margin-left: 0px!important;
  font-size: 32px;
  font-weight: 600;
  margin: 0px!important;
  left: 15px;
  bottom: 0px;
  z-index: 10;
  height: 80px;
  width: 80px;
  padding: 0;
}

.guilds-wrapper .guild.guilds-add:after {
  background-color: #322632;
  color: #999398;
  -webkit-transition: all 200ms ease!important;
  transition: all 200ms ease!important;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  content: "";
  display: block;
  height: 75px;
  width: 62px;
  background-image: url(https://nirewen.s-ul.eu/Wd3rUauH.png);
  background-position: 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.guilds-wrapper .guilds .guild.guilds-add:hover {
  opacity: 1!important
}

.guilds-wrapper .guild.guilds-add:before {
  content: "";
  width: 78px;
  height: 100px;
  background: #fff;
  display: block;
  position: fixed;
  left: 0px;
  bottom: -16px;
  z-index: -1;
  pointer-events: none;
    background: transparent;
}

* {
	font-family: Slack-Lato, Slack-Icons !important;
	-webkit-font-smoothing: antialiased !important;
}

.markup {
	font-weight: 500 !important;
}

.message-group .avatar-large {border-radius: 3px; background-size: cover; height: 36px; width: 36px;}

.messages-wrapper .messages .divider.divider-red span {
	color: rgba(255,135,109,.5) !important;
	text-transform: lowercase;
	z-index: 3;
}

.messages-wrapper .messages .divider.divider-red {
	z-index: 1 !important;
}

.chat .divider:not(.divider-red) {
	z-index: 2 !important;
}

.messages-wrapper .messages .divider.divider-red > div {
	background-color: #ff876d !important;
	opacity: 1 !important;
}

.chat .divider>span {
	background: #fff !important; 
	border-radius: 8px;
	color: #000;
	z-index: 2 !important;
}

.chat .divider.divider-red>div:last-of-type {
	display: none;
}

.user-popout .avatar-wrapper, .user-popout .avatar-wrapper .avatar-popout {
    margin: 0px 0px 0px;
    width: 100%;
    height: 240px;
    padding-bottom: -10px;
    display: flex;
    flex: 1;
    background-size: 100%;
    border-radius: 0;
	border: 0;
}
.user-popout .avatar-wrapper .avatar-popout {
    z-index: 10;
}
.user-popout .header {
    height: 225px;
    z-index: 9;
}
.user-popout .username-wrapper {
    width: 200px;
    margin-top: -180px;
    border-radius: 10px;
    position: fixed;
    top: 335px;
    z-index: 11;
}
.user-popout .avatar-wrapper {
    z-index: 10;
}
.user-popout .avatar-wrapper:hover .avatar-hint {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    box-shadow: none;
    border-radius: 0;
}
.user-popout .avatar-wrapper .avatar-hint {
    box-shadow: none;
    border-radius: 0;
    z-index: 11;
}
.user-popout .username-wrapper .nickname, .user-popout .username-wrapper .activity, .user-popout .username-wrapper .discord-tag {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15%,rgba(0,0,0,0.4) 85%,rgba(0,0,0,0) 100%);
    width: 200px;
}
.user-popout .username-wrapper .activity {
    max-height: 35px;
    overflow: hidden;
}
.user-popout .avatar-wrapper .avatar-popout .status {
    bottom: -18px;
}
.user-popout .body .section .label {
    margin-top: 25px;
}

.account .avatar-small {
	width: 48px !important;
	height: 48px !important;
	background-size: cover;
	border-radius: 5px !important;
}
.account .account-details .discriminator {
	visibility: hidden;
}
.account .status {
	border: 1px solid #fff !important;
	transform: translate(20px, -10px);
}
.account .status.status-online:after {
	content: "online";
	color: #998493;
	font-size: 13px;
	position: absolute;
	left: 15px;
	top: -1px;
}
.account .status.status-idle:after {
	content: "idle";
	color: #998493;
	font-size: 13px;
	position: absolute;
	left: 15px;
	top: -1px;
}
.account .status.status-dnd:after {
	content: "DnD";
	color: #998493;
	font-size: 13px;
	position: absolute;
	left: 15px;
	top: -1px;
}
.account .status.status-invisible:after {
	content: "invisible";
	color: #998493;
	font-size: 13px;
	position: absolute;
	left: 15px;
	top: -1px;
}
.account {background: #432c3e !important; border-top: 2px solid #3c2539 !important; height: 73px}
.private-channels .scroller, .guild-channels {
	background: #4d394b !important;
}

.guilds-wrapper, #voice-connection {
	background-color: #322632 !important;
	border-top-color: transparent;
}

.guilds-wrapper {
	width: 62px !important;
}

.guild-header header {
	background: #432c3e !important;
	box-shadow: 0 0 0;
	border-bottom: 1px solid #3c2338;
}

.guilds-wrapper .guilds .guild.audio .guild-inner:after {
	right: 10px;
}

.guilds-wrapper .guilds .guild .badge {
	border-radius: 50%;
	right: 10px;
	bottom: 38px;
}

.guilds-wrapper .guilds .guild {
	margin-bottom: -15px !important;
}

.guilds-wrapper .guilds .guild.selected:before {
	height: 32px !important;
	border-radius: 2px !important;
}

.guilds-wrapper .guilds .guild.unread:not(.selected):before {
	height: 8px !important;
}

.guilds-wrapper .guilds .guild:before {
	top: 39% !important;
}

.guilds-wrapper .guilds .guild .guild-inner,
.guilds-wrapper .guilds .guild .guild-inner a {
	border-radius: 4px !important;
	width: 32px;
	height: 32px;
}

.guilds-wrapper .guilds .guild .guild-inner .avatar-small {
	background-size: 32px 32px;
	background-position: 50% 50%;
}

.channel-text,
.private-channels .channel,
.guild-channels .channel a {
	height: 24px !important;
}

.callout-backdrop {
	background-color: #fff !important;
	opacity: 1 !important;
}

.private-channels .search-bar {
	background-color: #4d394b !important;
	box-shadow: 0 0 0;
	border-radius: 0px !important;
}

.channel-text.selected,
.private-channels .channel.selected {
	background: #46968a !important;
	border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
	color: white;
}

.channel.channel-text:not(.selected):hover,
.private-channels .channel:not(.selected):hover {
	background: #3e313c;
	border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.channel.channel-text:not(.selected):hover .channel-name:before {
	color: #7b6979 !important;
}

.private-channels .channel.btn-friends {margin-bottom: 0px; margin-top: -20px; }
.private-channels .channel .icon-friends {visibility: hidden;}
.channel.channel-text:hover,
.private-channels .channel:not(.selected):hover a {color: #ab9ba9;}
.private-channels .channel a {margin-left: -20px;}
.channel.channel-text:before,
.private-channels .channel:before {border-left: 0px !important;}

.private-channels .channel .channel-name,
.private-channels .channel .close {
	transform: translate(0px, -9px)
}

.private-channels .channel .close {
	background: none !important;
	content: '\E214' !important;
}

.guild-channels .channel-text .channel-name:before {
	content: '\E125'; 
	color: #b2d5c9 !important;
	font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
}
.guild-channels .channel-text .channel-name {transform: translate(0px, -7px)}
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {transform: translate(0px, -6px)}

.guild-channels .channel .icon {
	transform: translate(0px, -4px)
}

.chat .new-messages-bar {
	background-color: #29b2ee;
	top: 10px;
	border-radius: 6px;
	height: 25px;
	z-index: 11;
}
.chat .new-messages-bar:hover {background-color: #3d9cd4;}

.chat .new-messages-bar button:first-child {
	text-align: center;
}

.private-channels .channel .avatar-small {
	visibility: hidden;
}

.private-channels .channel .avatar-small .status {
	visibility: visible;
	transform: translate(0px, -22px);
	border: 0px !important;
}

.private-channels .channel.selected .avatar-small .status {
	background-color: white !important;
}

.private-channels .channel .channel-activity {
	display: none;
}

.tooltip:not(.tooltip-error):not(.tooltip-success) {
	background:#000000;
	color:#ffffff;
}
.tooltip.tooltip-right:after {border-right-color:#000000;}
.tooltip.tooltip-top:after {border-top-color:#000000;}
.tooltip.tooltip-bottom:after {border-bottom-color:#000000;}

#instant-invite-modal .form-header header:before {
	content: '\E041';
	color: #3aa3e3;
	margin-right: 3px;
}
